.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  padding: 12px 8px;
  display: flex;
  justify-content: left;
  border-bottom: 1px solid #f1f1f1;
}

.logo img {
  width: 60%;
  height: auto;
}
.navbar-item {
  text-align: left;
  padding: 10px;
  font-size: 17px;
  display: flex;
}

.navbar-item-icon img {
  width: 65%;
  height: auto;
}
.navbar-item-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.main-content {
  padding: 40px 100px;
}

.account-banner {
  display: flex;
  justify-content: center;
  padding: 25px;
  background: #008b5d;
  border-radius: 8px;
  color: #fff;
}

.premium-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.premium-logo {
  padding: 10px;
}

.logo-center {
  padding: 7px;
  background: #fff;
  border-radius: 50%;
  display: block;
}

.banner-text {
  padding: 0 15px;
  text-align: left;
}

.banner-main-text {
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 10px;
}

.banner-sub-text {
  font-size: 19px;
  line-height: 26px;
  margin-top: 5px;
}
